<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>html lang="en">


<body>
    <h1>Create Deapartment</h1>
    <form action="/create-department" method="post">
        <input type="text" name="name" placeholder="Dept Name">
        <select name="type">
            <option value="UG">UG</option>
            <option value="PG">PG</option>
            <option value="Research">Research</option>
        </select>
        <input type="text" name="address" placeholder="Address">
        <button>Create Department</button>
    </form>
</body>

</html>